node_modules
.git
.npmrc
.yarnrc
**/__tests__/**
**/assets/**
**/style/**
babel.config.js
packages/**/babel.config.js
packages/**/rollup.config.js
packages/**/scripts/*.js
packages/**/tasks/**
packages/**/build/**
packages/**/public/**
packages/**/config/*.js
packages/**/dist/**
scripts/**
packages/**/node_modules
**/public/**
