# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.rpt2_cache
.yalc
yalc.lock
.history
.eslintcache

.yarn/**
# production
**/dist/**
packages/**/dist/**

# testing
/coverage

# production
/build

# misc
/.DS_Store
packages/**/**/.DS_Store

# umi
.umi
.umi-production
.umi-test
.env.local

# ide
/.idea

/.history

/eslint/*/lib
/eslint/*/LICENSE
/.changelog

.DS_Store
packages/.DS_Store
packages/.DS_Store

storybook-static