# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.rpt2_cache
.yalc
yalc.lock
.history
.eslintcache

.yarn/**
# production
**/dist/**
packages/**/dist/**

# testing
/coverage

# production
/build

# misc
/.DS_Store
packages/**/**/.DS_Store

# umi
.umi
.umi-production
.umi-test
.env.local

# ide
/.idea

/.history

/eslint/*/lib
/eslint/*/LICENSE
/.changelog

.DS_Store
packages/.DS_Store
packages/.DS_Store

storybook-static
packages/mtbird-example/.next/app-build-manifest.json
packages/mtbird-example/.next/build-manifest.json
packages/mtbird-example/.next/package.json
packages/mtbird-example/.next/react-loadable-manifest.json
packages/mtbird-example/.next/trace
packages/mtbird-example/.next/cache/webpack/client-development/0.pack
packages/mtbird-example/.next/cache/webpack/client-development/1.pack
packages/mtbird-example/.next/cache/webpack/client-development/2.pack
packages/mtbird-example/.next/cache/webpack/client-development/3.pack
packages/mtbird-example/.next/cache/webpack/client-development/4.pack
packages/mtbird-example/.next/cache/webpack/client-development/5.pack
packages/mtbird-example/.next/cache/webpack/client-development/6.pack
packages/mtbird-example/.next/cache/webpack/client-development/7.pack
packages/mtbird-example/.next/cache/webpack/client-development/8.pack
packages/mtbird-example/.next/cache/webpack/client-development/9.pack
packages/mtbird-example/.next/cache/webpack/client-development/10.pack
packages/mtbird-example/.next/cache/webpack/client-development/11.pack
packages/mtbird-example/.next/cache/webpack/client-development/12.pack
packages/mtbird-example/.next/cache/webpack/client-development/13.pack
packages/mtbird-example/.next/cache/webpack/client-development/14.pack
packages/mtbird-example/.next/cache/webpack/client-development/15.pack
packages/mtbird-example/.next/cache/webpack/client-development/16.pack
packages/mtbird-example/.next/cache/webpack/client-development/17.pack
packages/mtbird-example/.next/cache/webpack/client-development/18.pack
packages/mtbird-example/.next/cache/webpack/client-development/19.pack
packages/mtbird-example/.next/cache/webpack/client-development/20.pack
packages/mtbird-example/.next/cache/webpack/client-development/21.pack
packages/mtbird-example/.next/cache/webpack/client-development/22.pack
packages/mtbird-example/.next/cache/webpack/client-development/23.pack
packages/mtbird-example/.next/cache/webpack/client-development/24.pack
packages/mtbird-example/.next/cache/webpack/client-development/25.pack
packages/mtbird-example/.next/cache/webpack/client-development/26.pack
packages/mtbird-example/.next/cache/webpack/client-development/27.pack
packages/mtbird-example/.next/cache/webpack/client-development/28.pack
packages/mtbird-example/.next/cache/webpack/client-development/index.pack
packages/mtbird-example/.next/cache/webpack/client-development/index.pack.old
packages/mtbird-example/.next/cache/webpack/client-development-fallback/0.pack
packages/mtbird-example/.next/cache/webpack/client-development-fallback/index.pack
packages/mtbird-example/.next/cache/webpack/client-development-fallback/index.pack.old
packages/mtbird-example/.next/cache/webpack/server-development/0.pack
packages/mtbird-example/.next/cache/webpack/server-development/1.pack
packages/mtbird-example/.next/cache/webpack/server-development/2.pack
packages/mtbird-example/.next/cache/webpack/server-development/3.pack
packages/mtbird-example/.next/cache/webpack/server-development/4.pack
packages/mtbird-example/.next/cache/webpack/server-development/5.pack
packages/mtbird-example/.next/cache/webpack/server-development/6.pack
packages/mtbird-example/.next/cache/webpack/server-development/7.pack
packages/mtbird-example/.next/cache/webpack/server-development/8.pack
packages/mtbird-example/.next/cache/webpack/server-development/9.pack
packages/mtbird-example/.next/cache/webpack/server-development/10.pack
packages/mtbird-example/.next/cache/webpack/server-development/11.pack
packages/mtbird-example/.next/cache/webpack/server-development/12.pack
packages/mtbird-example/.next/cache/webpack/server-development/13.pack
packages/mtbird-example/.next/cache/webpack/server-development/14.pack
packages/mtbird-example/.next/cache/webpack/server-development/15.pack
packages/mtbird-example/.next/cache/webpack/server-development/16.pack
packages/mtbird-example/.next/cache/webpack/server-development/17.pack
packages/mtbird-example/.next/cache/webpack/server-development/18.pack
packages/mtbird-example/.next/cache/webpack/server-development/19.pack
packages/mtbird-example/.next/cache/webpack/server-development/20.pack
packages/mtbird-example/.next/cache/webpack/server-development/21.pack
packages/mtbird-example/.next/cache/webpack/server-development/index.pack
packages/mtbird-example/.next/cache/webpack/server-development/index.pack.old
packages/mtbird-example/.next/server/_error.js
packages/mtbird-example/.next/server/app-paths-manifest.json
packages/mtbird-example/.next/server/flight-manifest.js
packages/mtbird-example/.next/server/flight-manifest.json
packages/mtbird-example/.next/server/flight-server-css-manifest.js
packages/mtbird-example/.next/server/flight-server-css-manifest.json
packages/mtbird-example/.next/server/font-loader-manifest.js
packages/mtbird-example/.next/server/font-loader-manifest.json
packages/mtbird-example/.next/server/middleware-build-manifest.js
packages/mtbird-example/.next/server/middleware-manifest.json
packages/mtbird-example/.next/server/middleware-react-loadable-manifest.js
packages/mtbird-example/.next/server/pages-manifest.json
packages/mtbird-example/.next/server/webpack-runtime.js
packages/mtbird-example/.next/server/app/page.js
packages/mtbird-example/.next/server/pages/_app.js
packages/mtbird-example/.next/server/pages/_document.js
packages/mtbird-example/.next/server/pages/_error.js
packages/mtbird-example/.next/static/chunks/_app-client_node_modules_antd_dist_reset_css.js
packages/mtbird-example/.next/static/chunks/_app-client_src_app_globals_css.js
packages/mtbird-example/.next/static/chunks/_error.js
packages/mtbird-example/.next/static/chunks/amp.js
packages/mtbird-example/.next/static/chunks/app-client-internals.js
packages/mtbird-example/.next/static/chunks/main-app.js
packages/mtbird-example/.next/static/chunks/main.js
packages/mtbird-example/.next/static/chunks/polyfills.js
packages/mtbird-example/.next/static/chunks/react-refresh.js
packages/mtbird-example/.next/static/chunks/webpack.js
packages/mtbird-example/.next/static/chunks/app/head.js
packages/mtbird-example/.next/static/chunks/app/layout.js
packages/mtbird-example/.next/static/chunks/app/page.js
packages/mtbird-example/.next/static/chunks/pages/_app.js
packages/mtbird-example/.next/static/chunks/pages/_error.js
packages/mtbird-example/.next/static/css/_app-client_node_modules_antd_dist_reset_css.css
packages/mtbird-example/.next/static/css/_app-client_src_app_globals_css.css
packages/mtbird-example/.next/static/css/app/page.css
packages/mtbird-example/.next/static/development/_buildManifest.js
packages/mtbird-example/.next/static/development/_ssgManifest.js
packages/mtbird-example/.next/static/media/iconfont.6c8ce19f.ttf
packages/mtbird-example/.next/static/media/iconfont.9c1ad4a5.woff2
packages/mtbird-example/.next/static/media/iconfont.30c21a52.woff
packages/mtbird-example/.next/static/webpack/0c3f0e55faa95211.webpack.hot-update.json
packages/mtbird-example/.next/static/webpack/0ffc3ef57f98f9a3.webpack.hot-update.json
packages/mtbird-example/.next/static/webpack/9b006a7bfbbc8542.webpack.hot-update.json
packages/mtbird-example/.next/static/webpack/58b7b1b6cd800cfc.webpack.hot-update.json
packages/mtbird-example/.next/static/webpack/833808164db034c2.webpack.hot-update.json
packages/mtbird-example/.next/static/webpack/b95a86266b1bd8f8.webpack.hot-update.json
packages/mtbird-example/.next/static/webpack/webpack.0c3f0e55faa95211.hot-update.js
packages/mtbird-example/.next/static/webpack/webpack.0ffc3ef57f98f9a3.hot-update.js
packages/mtbird-example/.next/static/webpack/webpack.9b006a7bfbbc8542.hot-update.js
packages/mtbird-example/.next/static/webpack/webpack.58b7b1b6cd800cfc.hot-update.js
packages/mtbird-example/.next/static/webpack/webpack.833808164db034c2.hot-update.js
packages/mtbird-example/.next/static/webpack/webpack.b95a86266b1bd8f8.hot-update.js
packages/mtbird-example/.next/static/webpack/app/layout.9b006a7bfbbc8542.hot-update.js
packages/mtbird-example/.next/static/webpack/app/page.0ffc3ef57f98f9a3.hot-update.js
packages/mtbird-example/.next/static/webpack/app/page.833808164db034c2.hot-update.js
packages/mtbird-example/.next/static/webpack/app/page.b95a86266b1bd8f8.hot-update.js
