.dragToolbarContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-10);
  width: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
  will-change: transform;
  transform-origin: 0px 0px;
  border: 1px solid var(--gray-9);
  box-sizing: content-box !important;
  border-radius: 5px;
  
  .dataItemWrapper {
    position: relative;
    height: 0;
  }

  .dragToolbarButton {
    border: 0;
    background-color: var(--gray-10);
    border-radius: 0;
    width: 32px;
    height: 32px;
    color: var(--color-text-4);

    &:hover {
      color: var(--color-text-4);
      background-color: var(--gray-8);
    }
  }

  :last-child {
    border-bottom: 0;
  }
}