
.debugButtonPanel {
  :global {
    .ant-popover-content, .ant-popover-inner {
      background-color: var(--gray-9);
      color: var(--color-text-4);
    }

    .ant-form-item-label {
      label {
        color: var(--color-text-4);
      }
    }

    .ant-form-item-control-input-content, .ant-input {
      background-color: var(--gray-8);
      border: 0;
      color: var(--color-text-4);
    }

    .ant-popover-arrow-content {
      --antd-arrow-background-color: var(--gray-10);
    }

    .ant-popover-title {
      // background-color: var(--gray-10);
      color: var(--color-text-4);
      border: 0;
    }

    .ant-btn {
      background-color: var(--gray-7);
      color: var(--color-text-4);
      border: 0;

      &:hover {
        background-color: var(--gray-6);
        color: var(--color-text-4);
      }
    }
  }
}

.debugButtonWrapper {
  position: relative;
  display: inline-block;

  .debugButton {
  }


  .debugStatus {
    position: absolute;
    bottom: 12px;
    right: 5px;
    width: 5px;
    height: 5px;
    border-radius: 1.5px;

    &.error {
      background-color: red;
    }

    &.success {
      background-color: #03e403;
    }
  }
}